
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

h1 {
    font-family: "Fascinate", system-ui;
    color: rgb(255, 255, 255);
}

#loadingOverlay {
    /* As linhas abaixo garatem que o elemento ocupe 100% do espaço da tela */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* Fundo branco semi-tranparente */
    background-color: rgba(191, 250, 245, 0.8);
    /* Posiciona o spinner acima de todos os elementos HTML */
    z-index: 9999;    
}

.spinner-border {
    /* Aumenta o tamanho do spinner */
    width: 100px;
    height: 100px;
}

body {
    background-color: rgb(21, 105, 80);
}

input[type="text"], select {
    background-color: rgb(15, 124, 92) !important;
    border: 1px solid rgb(16, 94, 70)  !important;
    color: white !important;
} 

input[type="text"]::placeholder {
    color: white;
}

label {
    color: white;
}